.footer {
    background-color: #02203c;
    padding:40px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.footerRight {
    width: 380px;
    padding-left: 100px;
}